<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mon application ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/master.css")

    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <div class="container">
        <div id="ContainerLogoS" class="col-10">
            <a href="http://localhost:49772/Home/Index">
                <img id="logoS" src="https://upload.wikimedia.org/wikipedia/commons/7/71/Spotify.png" />
            </a>
        </div>

        <div id="error"></div>
        @RenderBody()
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
        <div class="col-1">
        </div>
    </div>
    
</body>
</html>
